
.container{
    position: absolute;
    top: 0px;
}
nav{
   position: fixed;
    display: flex; 
    background-color: rgb(130, 115, 115);
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
 
      
      
      

}
nav img{
    height: 50px;
    width: 50px;
    margin-top: 3px;
    margin-left: 3px;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
   
   

}
nav ul li{
    list-style: none;
 
}
nav ul li a{
  
  
    text-decoration: none;
    padding: 18px;
    margin: 4px;
    font-size: 25px;
    color: white;
 

}
.container2{
 
    
    background-image: url(bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
   


}
#mid{
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
    
    color: white;
    font-size: 20px;
    width: 50%;
    margin: 119px;
   
}
#btn{
    height: 30px;
    width: 25%;
    justify-content: center;
    background-color:rgb(159, 159, 159);
    cursor: pointer;
    margin:6px;
}
.our{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 30px;
}
.container3{
display: flex;
justify-content: center;
flex-wrap: wrap;

}
#item{
    background-color:blanchedalmond;
    border: 2px solid red;
    margin: 20px;
    padding: 30px;
    /* height: 250px; */
    width: 15%;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#item img{
    width: 100%;
    height: 130px;
    margin-left: -6px;
    margin: 3px;
   
}
.container4{
width: 100%;
display: flex;
background-color: rgb(232, 166, 86);
background-image: url(bg3.avif);

background-repeat: no-repeat;
background-size: cover;
justify-content: center;
flex-wrap: wrap;



}
#pic img{
    height: 130px;
    width:50%;
   margin: 15px;
  
   

}
.num{
    background-image: url(conta2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;

   margin-top: 0px;
   flex-wrap: wrap;
   justify-content: center;

}
form{
    
    display: flex;
    flex-direction: column;
   flex-wrap: wrap;
    width: 50%;
}
input,textarea{
margin: 5px;
height: 40px;
border-radius: 10px;
flex-wrap: wrap;

}
span{
    font-weight: bold;
    
}
p2{
    text-align: center;
}


